* {
    font-family: Inter, sans-serif;
    color: var(--black-black-400, #6B6B68);
    letter-spacing: -0.2px;
}
body {
        background: var(--black-black-100, #000);
}
h1, h2, h3 {
    font-weight: 400;
}

h1 {
    color: #FDFCF9;
}
h2 {
    color: #0A6EBD;
    font-size: 56px;
    letter-spacing: -2.24px;
}
h3 {
    color: #0079FF;
    font-size: 36px;
}
h5 {
    font-size: 25px;
    font-style: normal;
    line-height: 120%; /* 30px */
    letter-spacing: -0.25px;
}
button {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 10px;
    border: 1px solid #0079FF;
    color: #0079FF;
    background: none;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container-fluid {
    padding: 0;
}
/* main page */
#main-page {
    height: 100vh;
    background: url("images/actionvance-t7EL2iG3jMc-unsplash.jpg"), lightgray 50% / cover no-repeat;
}
.navbar {
    padding: 0;
}
.navbar-nav {
    background-color: black;
    flex-grow: 1;
    justify-content: center;
    display: flex;
}
.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 114px; /*?????????????? */
}
.header-text p {
    font-size: 25px;
}
.header-text h1 {
    font-size: 4.5rem;
}

/* ABOUT US */
#about {
    height: 100vh;
}
.about-row {
    display: flex;
    width: 70%;
    justify-content: space-between;
    gap: 61px;
}
.about-col-2 img {
    width: 100%;    
}

.about-col-2 {
    flex-basis: 40%;
}
.about-col-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 40%;
    height: 100%;
}
.about-text {
    color: var(--black-black-50, #858585);
}
/* our services */
#services {
    height: 100vh;
}
.services-list {
width: 100%;
height: 70vh;
}
.services-tile {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: flex-start;
    gap: 36px;
    padding: 40px;
}
.tile-web {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("images/d854ab7d5ee2df1c46460a15d454bf66.jpg"), lightgray -153.437px 0.86px / 199.969% 100% no-repeat;
    background-size: cover;
    background-position: center;
}
.tile-mark {
    background: linear-gradient(208deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 10.44%, rgba(0, 0, 0, 0.00) 82.81%), linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url("images/alessio-zaccaria-MplUOXqEUK0-unsplash.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}
.tile-social {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), url("images/arpad-czapp-Cg94g0QFHv4-unsplash.png"), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position: center;
}

/* whyus */
.whyus-box {
    display: flex;
flex-direction: column;
align-items: center;
gap: 120px;
}
.whyus-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.whyus-tile {
    display: flex;
    width: 321px;
    height: 317px;
    padding: 0px 55px;
    margin: 0 40px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    text-align: center;
}
/* OUR TEAM */
#staff img {
    width: 334px;
    height: 445px;
    flex-shrink: 0;
}
.our-team-title-div {
    display: flex;
    height: 472px;
    padding: 258px 232px 144px 231px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%), url("images/zusammen2.jpg"), lightgray -16.157px -26.983px / 100% 138.804% no-repeat;
    background-size: cover;
    background-position: center;
}
.our-team-title-div h1 {
    font-size: 64px;
}
.staff-grid{
    display: grid;
    grid-template-columns: 1;
    gap: 20px;
    justify-content: center;
}
.row-staff {
    display: flex;
    width: 45vw;
    flex-direction: row;
    align-items: center;
}
.crewmate-text {
    display: flex;
    width: 335px;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin: 0 112px;
}

.crewmate-photo {

}
/* CONTACT */
.contact-left {
    width: 595px;
    height: 567px; /* DO POPRAWIENIA BO SĄ ABSOLUTNE */
    flex-basis: 35%;
    text-align: left;
    background: url("images/pawel-czerwinski-fPN1w7bIuNU-unsplash.jpg"), lightgray 50% / cover no-repeat;
}
.contact-right {
    flex-basis: 50%;
}
.contact-right form{
    width: 100%;
    }
    form input, form textarea{
        background: none;
        width: 100%;
        outline: none;
        padding: 10px;
        margin: 10px 0;
        border-radius: 10px;
        border: 1px solid #0079FF;
    }
